@page "/learnBlazor/parentComponent"

<h3>Parent Child Relation</h3>

<CascadingValue Value="@MessageForGrandChild">
    @*invoke*@
    <_ChildComponent OnButtonClick="ShowMessage" Title="This is passed as parameter from Parent Component">

        Render Fragment From Parent! WooHoo!
    </_ChildComponent>
</CascadingValue>


<p><b>@messageText</b></p>
@*invoke _AnotherChildComponent*@
<_AnotherChildComponent placeholder="Placeholder from parent"></_AnotherChildComponent>

@*<_ChildComponent Title="This is second child component">*@
@*</_ChildComponent>*@

@code {
    public string MessageForGrandChild = "This message is from your grand parent (parentComponent)";
    public string messageText = "";

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from Child Component";
    }
}

